
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# POPGP Engine Build
popgp_engine/build/
popgp_engine/vcpkg/
popgp_engine/vcpkg_installed/

# Native libraries deployed to Python package by CMake
popgp/_lib/*.dll
popgp/_lib/*.so
popgp/_lib/*.dylib

# Generated results from simulation scripts
src/**/results/

# Generated Configuration
popgp_engine/vcpkg-configuration.json
